<h1>Profile</h1>
<%= @user.name %>
<%= @user.email %>

<p>
  <h2>Friends List</h2>
</p>

<p>
  <% @friendships.each do |friendship| %>
    <p>
      <%= find_user(friendship.return_friend_id(@user.id)).name %>
      <%= link_to "Remove friend", friendship_path(friendship), method: :delete %>
    </p>
  <% end %>
</p>

<p>
  <h2>Requests by Users</h2>
</p>

<p>
  <% @pending_friendships.each do |request|%>
    <p>
      <%= find_user(request.user_id).name %>
      <%= link_to "Accept", friendship_path(request), method: "put" %>
    </p>
  <% end %>
</p>

<p>
  <%= link_to 'Create post', new_post_path %>
</p>