<div class='row content-box'>
  <div class='col-xs-12'>
    <h1>
      <% if current_user == @user %>
        Your Profile
      <% else %>
        <%= @user.name %>'s Profile
      <% end %>
    </h1>
    <h4>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h4>
  </div>

  <% unless current_user != @user %>
    <div id='friends-active'>
      <div class='col-xs-12'>
        <h2>Friends</h2>
        <table>
          <% @user.all_friendships.each do |friendship| %>
            <tr>
              <td>
                <%= find_user(friendship.return_friend_id(@user.id)).name %>
              </td>
              <td>
                <%= link_to 'Remove friend', friendship_path(friendship), id: 'Remove', class: 'btn btn-danger', method: :delete %>
              <td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div id='friends-pending'>
      <div class='col-xs-12'>
        <h2>Pending</h2>
        <table>
          <% @user.pending_friendships.each do |requester| %>
            <tr>
              <td>
                <%= requester.name %>
              </td>
              <td>
                <%= link_to 'Accept request', friendship_path(requester), id: 'Accept', class:'btn btn-success', method: :patch %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>
</div>

<div class="row content-box">
  <div id='profile-posts'>
    <div class='col-xs-12'>
      <h2>Posts</h2>
    </div>
    <div class='col-xs-12'>
      <% if current_user == @user %>
        <%= link_to 'Create a post', new_post_path, class: 'btn btn-primary form-control' %>
      <% end %>
    </div>
    <div class='col-xs-12'>
      <%= render @user.posts %>
    </div>  
  </div>


