<h1>Profile</h1>
<%= @user.name %>
<%= @user.email %>

<p>
  <h2>Friends List</h2>
</p>

<p>
  <% @friendships.each do |friendship| %>
    <p>
      <%= find_user(friendship.return_friend_id(@user.id)).name %>
      <%= link_to "Remove friend", friendship_path(friendship), method: :delete %>
    </p>
  <% end %>
</p>

<p>
  <h2>Requests by Users</h2>
</p>

<p>
  <% @pending_friendships.each do |request|%>
    <p>
      <%= find_user(request.user_id).name %>
      <%= link_to "Accept", friendship_path(request), method: "put" %>
    </p>
  <% end %>
</p>

<p>
  <h2>Posts</h2>
</p>
<% if current_user == @user %>
  <p>
    <%= link_to 'Create post', new_post_path %>
  </p>
<% end %>
<p>
  <% @posts.each do |post| %>
    <div id='post'>
      <p><%= post.title %><p/>
      <p><%= post.body %></p>
      <%= post.likes.count %>
      <%= render partial: "likes/button", locals: { post: post } %>
      <p>Comments:<p>
      <ul>
        <% post.comments.reverse_order.each do |comment| %>
          <li><%= comment.body %> Posted <%= time_ago_in_words(comment.created_at) %></li>
        <% end %>
      </ul>
      <%= link_to 'Write a comment', new_post_comment_path(post) %>
    </div>
  <% end %>
</p>
