<h1>Profile</h1>
<%= @user.name %>
<%= @user.email %>

<p>
  <h2>Friends List</h2>
</p>

<p>
  <!-- current_user referenced by user_id -->
  <% @friendships.each do |friendship| %>
    <p>
      <%= friendship.inspect %>
      <%= find_user(friendship.friend_id).name %>
      <%= link_to "Remove friend", friendship_path(friendship), method: :delete %>
    </p>
  <% end %>
  <!-- current_user referenced by friend_id -->
  <% @received_friendships.each do |friendship| %>
      <p>
      <%= friendship.inspect %>
      <%= find_user(friendship.user_id).name %>
      <%= link_to "Remove friend", friendship_path(friendship), method: :delete %>
    </p>
  <% end %>
</p>

<p>
  <h2>Requests by Users</h2>
</p>

<p>
  <% @pending_friendships.each do |request|%>
    <p>
      <%= request.inspect %>
      <%= find_user(request.user_id).name %>
      <%= link_to "Accept", friendship_path(request), method: "put" %>
    </p>
  <% end %>
</p>

<% console %>