<h1>Profile</h1>
<%= @user.name %>
<%= @user.email %>

<p>
  <h2>Friends</h2>
</p>

<p>
  <% @friendships.each do |friendship|%>
    <p>
      <%= friendship.friend.name %>
      <%= link_to "Remove friend", friendships_destroy_path(id: friendship) %>
    </p>
  <% end %>
</p>

<p>
  <h2>Friended by Users</h2>
</p>

<p>
  <% @inverse_friendships.each do |friendship|%>
    <p>
      <%= friendship.user.name %>
    </p>
  <% end %>
</p>

<%= link_to "Sign out", destroy_user_session_path, method: :delete %>