<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% form.label :title, 'Title' %>
    <%= form.text_field :title, 
      id: 'Title',
      autofocus: true,
      placeholder: 'Title (optional)',
      class: 'form-control' %>
  </div>

  <div id='post-body'>
    <% form.label :body, 'Body' %>
    <%= form.text_area :body, 
      id: 'Post',
      placeholder: 'Body',
      class: 'form-control' %>
  </div>
  
  <div class="actions">
    <div id='post-submit'>
      <%= form.submit 'Submit', class: 'btn btn-primary form-control' %>
    </div>
    <div id='post-cancel'>
      <%= link_to 'Cancel', session[:return_to], class: 'btn btn-danger form-control' %>
    </div>
  </div>
<% end %>
