<!DOCTYPE html>
<html>
  <head>
    <title>RailsOdinFb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans|Open+Sans+Condensed:300" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div id='navbar'>
      <% if user_signed_in? %>
        <%= render 'shared/navbar' %>
      <% end %>
    </div>

    <div class='container-fluid'>
      <div id='flash'>
        <%= render 'shared/flash' %>
      </div>
      <div>
        <div class='row'>
          <div class='col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3'>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
