<!DOCTYPE html>
<html>
  <head>
    <title>RailsOdinFb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans|Open+Sans+Condensed:300" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div id='navbar'>
      <% if user_signed_in? %>
        <%= render 'shared/navbar' %>
      <% end %>
    </div>

    <div class='container'>
      <div id='flash'>
        <%= render 'shared/flash' %>
      </div>
      <%= yield %>
      <% if current_user %>
        <%= link_to "Profile", user_path(current_user) %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <%= link_to "Index", users_path %>
      <% end %>
    </div>
  </body>
</html>
